{
    "listenPort": 8080,
    "contextRoots": [ "$", "/data" ],
    "enableCompression": true,
    "websocket": {
        "enabled": true,
        "path": "/websocket"
    },
    "logDir": "/tmp/cowherd_logs/",
    "everyHtmlIsTemplate": true,
    "allowOrigins": [],
    "alternativeCookieHeaders": {
        "onlyOn": "Cowherd-Need-Alternative-Cookie-Headers",
        "setCookie": "Cowherd-Set-Cookie",
        "cookie": "Cowherd-Cookie"
    },
    "workers": 2,
    "user": {
        "a": 1,
        "b": "test"
    }
}