{
    "listenPort": 8080,
    "contextRoots": [ "$" ],
    "enableCompression": true,
    "websocket": {
        "enabled": false,
        "path": "/websocket"
    },
    "logDir": "/tmp/cowherd_logs/",
    "verbose": true,
    "everyHtmlIsTemplate": false,
    "maxUploadFileSize": 104857600,
    "allowOrigins": [],
    "alternativeCookieHeaders": {
        "onlyOn": "Cowherd-Need-Alternative-Cookie-Headers",
        "setCookie": "Cowherd-Set-Cookie",
        "cookie": "Cowherd-Cookie"
    },
    "workers": 2,
    "cluster": {
        "listenIp": "127.0.0.1",
        "listenPort": 8081
    }
}